* {
  margin:0;
  padding:0;
}

body {
  margin: 0; 
  font-weight: 500;
  font-family: 'HelveticaNeue', 'Helvetica', sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(700px, 90vh) auto;
  grid-template-areas:
    'main'
    'twoamadios';
}

.section {
  display:grid;
  grid-template-columns: 1fr 900px 1fr;
  grid-template-rows: 100%;
  grid-template-areas:
    '. content .';
}

.content {
  grid-area: content;
}

h1 {
  font-size: 3em;
  display: block;
}

p {
  font-size: 1.5em;
  font-weight: 300;
}

.main {
  grid-area: main;
  background-color: #FFFFFF;
}

.main-content {
  display:grid;
  align-self:center;
  justify-self:center;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 80% 1fr;
  grid-column-gap: 50px;
  grid-template-areas:
    '. .'
    'main-hero main-text'
    '. .';
  /*background-color: #0000FF;*/
}

.main-hero {
  position:relative;
  grid-area: main-hero;
  display:grid;
  justify-self:right;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    '.'
    'main-hero-frame'
    '.';
  /*background-color: #00FF00;*/
}

.main-hero-frame {
  grid-area: main-hero-frame;
  max-width:calc(900px/4);
  height:auto;
  z-index:3;
}

.main-hero-frame-bg {
  position:absolute;
  top:2%;
  left:5%;
  bottom:2%;
  right:5%;
  background-color: #000000;
  border-radius: 3%;
  z-index:1;
}

.main-hero-video {
  position:absolute;
  top:2.97%;
  left:6.81%;
  width: 86.5%;
  z-index:2;
}

.main-text {
  grid-area: main-text;
  align-self: center;
  justify-self: left;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: 0px auto auto auto;
  grid-template-areas:
    '.'
    'main-text-title'
    'main-text-appstore'
    'main-text-subtitle';
  /*background-color: #FF0000;*/
}

.main-text h1 {
  grid-area: main-text-title;
  justify-self: left;
  
  color: black;
  font-size:5em;
  font-weight: 700;
}

.main-text h2 {
  grid-area: main-text-subtitle;
  justify-self:center;
  padding-top: 15px;
  
  color: lightgrey;
  font-size:2em;
  font-weight: 700;
}

.main-text a {
  grid-area: main-text-appstore;
  justify-self: center;
  padding-top: 5px;
}

.twoamadios {
  grid-area: twoamadios;
  background-color: #4a63ce;
  text-align: center;
}

.twoamadios-content {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px auto auto;
  grid-column-gap: 75px;
  grid-template-areas:
    'twoamadios-logo twoamadios-logo'
    'twoamadios-twitter twoamadios-email'
    'twoamadios-cutout twoamadios-cutout';
}

.twoamadios-logo {
  grid-area: twoamadios-logo;
  max-width: 200px;
  justify-self: center;
  align-self: center;
} 

.twoamadios-twitter {
  grid-area: twoamadios-twitter;
  justify-self: right;
  align-self: center;
}

.twoamadios-email {
  grid-area: twoamadios-email;
  justify-self: left;
  align-self: center;
}


.twoamadios-cutout {
  grid-area: twoamadios-cutout;
  padding-top: 50px;
  max-width: 100%;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: none;
  opacity: 0.75;
  
  &:hover{ 
    text-decoration: underline;
    opacity: 1.0;
  }
  
  &:active {
  }
}

a:hover{
    opacity: 1.0;
}